.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s box-shadow 0.1s ease-in-out;
}

.button * {
  pointer-events: none;
}

.button:disabled {
  background-color: var(--color-bg-input-disabled);
  cursor: not-allowed;
}

/** RIPPLE ANIMATION */
.ripple {
  composes: ripple from '../Button/index.module.css';
}

/** PULSE ANIMATION */
.pulse {
  composes: pulse from '../Button/index.module.css';
}

.button.smallShadow {
  box-shadow: 0px 4px 8px var(--color-shadow);
}

.button.normalShadow {
  box-shadow: 0px 16px 48px var(--color-shadow);
}

.button.bigShadow {
  box-shadow: 0px 16px 48px var(--color-shadow);
}

.button.membrane {
  box-shadow: 0px 20px 40px rgba(211, 217, 229, 0.9),
    0px -16px 60px rgba(255, 255, 255, 0.9);
}