.container {
  position: relative;
  display: inline-block;
  width: 14rem;
}

.container > label {
  margin: 0;
}

.container.block {
  width: 100%;
}

.container .flexed {
  flex: 1;
}

.labelContainer {
  display: flex;
  background: var(--color-bg-input);
  border: 1px solid var(--color-border);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: .3rem;
  cursor: text;
  outline: none;
  min-height: 3rem;
  width: 100%;
}

.labelContainer input {
  border: 0;
  min-width: 0;
  outline: none;
  background: transparent;
}

.labelContainer.multi input {
  display: none;
}

.labelContainer .inside {
  font-family: var(--font-semi-bold);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 1.2rem;
}

.labelContainer.disabled {
  background: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
}

.labelContainer.disabled, .labelContainer.disabled:hover, .labelContainer.disabled:focus-within {
  border: 1px solid var(--color-text-disabled);
  pointer-events: none;
  padding: 0;
}

.labelContainer.opened,
.container:hover .labelContainer:not(.disabled) {
  border: 2px solid var(--color-primary);
  padding: calc(.3rem - 1px);
}

.labelContainer.error.opened,
.container:hover .labelContainer:not(.disabled).error {
  border: 2px solid var(--color-error);
}
.labelContainer.warning.opened,
.container:hover .labelContainer:not(.disabled).warning {
  border: 2px solid var(--color-highlighted);
}

.labelContainer.disabled {
  background: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
  padding: .3rem;
}

.labelContainer.error {
  border: 1px solid var(--color-error);
}

.labelContainer.warning {
  border: 1px solid var(--color-highlighted);
}

.arrowIcon {
  cursor: pointer;
  margin-right: 1rem;
  outline: none;
  pointer-events: none;
}

.menu {
  position: absolute;
  visibility: visible;
  font-family: var(--font-semi-bold);
  list-style-type: none;
  margin: 0;
  background: var(--color-bg-input);
  border-radius: 1.5rem;
  border: 2px solid var(--color-primary);
  box-shadow: 0 0 3rem var(--color-shadow);
  outline: none;
  box-sizing: border-box;
  transition: .3s;
  z-index: 999;
  opacity: 1;
  padding: .5rem;
  padding-right: .3rem;
  width: 100%;
}

.menu.withSearch {
  padding-top: 0;
}

.listparent {
  overflow-y: scroll;
  padding-right: .2rem;
}

.menu.hide {
  visibility: hidden;
  opacity: 0;
}

.menu.bottom {
  top: 0;
}

.menu.top {
  bottom: 0;
}

.listparent::-webkit-scrollbar-track {
  background: transparent;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.listparent::-webkit-scrollbar {
  width: .5rem;
  opacity: 0;
  background-color: transparent;
}

.listparent::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-bg-grey-3);
}

.list .item {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding-left: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
  font-family: var(--font-regular)
}

.list .item.selected, .menu .item:hover {
  background-color: var(--color-bg-grey-3);
}

.list .item.selected {
  font-family: var(--font-bold)
}

.list .item.emptyList {
  color: var(--color-text-disabled);
}

.list .groupTitle { 
  display: flex;
  background: var(--color-bg-grey-4);
  border-radius: 1rem;
  padding: 0 1rem;
  line-height: 1.5rem;
}

.list .groupArrow {
  margin-left: .5rem;
}

.list .group {
  padding: .25rem;
  padding-left: 1rem;
}

.emptyState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.emptyIcon {
  margin: .5rem;
}

.emptyText {
  text-align: center;
  font-family: var(--font-regular);
  color: var(--color-text-secondary);
  font-style: italic;
}

.container .searchinput {
  padding-left: 1rem;
}

.container .searchinput:focus,
.container .searchinput:not([disabled]):hover {
  padding-left: calc(1rem-1px);
}

.labelContainer.error + .menu {
  border-color: var(--color-error);
}

.labelContainer.warning + .menu {
  border-color: var(--color-highlighted);
}

.selectedItem {
  font-family: var(--font-regular);
  min-width: 6rem;
  background: var(--color-primary);
  border-radius: 1rem;
  color: var(--color-bg-input);
  display: inline-flex;
  align-items: center;
  outline: none;
  box-sizing: border-box;
  height: 2rem;
  padding: 0 .5rem;
  margin: 2px;
  position: relative;
  z-index: 2;
}

.selectedItem .title {
  text-align: center;
  width: 100%;
  padding: 0 .5rem;
}

.selectedItem .close {
  cursor: pointer;
}

.tick {
  padding-right: .6rem;    
}

.highlight {
  background: transparent;
  color: var(--color-primary);
  font-family: var(--font-bold)
}