.tag {
  min-width: 72px;
  height: 32px;
  border-radius: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 0 1rem;
}

.tagSecondary {
  background-color: var(--color-bg-input);
}
.tagDisabled {
  background-color: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 0.75rem;
}

.title {
  margin: 0 0.5rem;
  white-space: nowrap;
  margin-top: -1px;
  font-size: 14px;
  color: var(--color-white);
}

.paddingNone {
  padding: 0;
}

.hasMarker {
  color: var(--color-text-primary);
  font-size: 16px;
}

.icon {
  margin-right: 0.5rem;
  margin-left: -8px;
  cursor: pointer;
}
