.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.disabled {
  color: var(--color-text-disabled);
}

.inverse {
  color: var(--color-text-inverse);
}

.green {
  color: var(--color-primary);
}

.orange {
  color: var(--color-highlighted);
}

.red {
  color: var(--color-error);
}

.terminal {
  color: var(--color-text-terminal-regular);
}

.inverseSecondary {
  color: var(--color-text-inverse-secondary);
}

.inversePrimary {
  color: var(--color-text-inverse-secondary);
}

h2.head {
  font-family: var(--font-bold);
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 0;
}

h3.head {
  font-family: var(--font-bold);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

h4.head {
  font-family: var(--font-bold);
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0;
}
