.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.disabled {
  color: var(--color-text-disabled);
}

.inverse {
  color: var(--color-text-inverse);
}
