.button {
  color: var(--color-text-inverse);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 0 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 8.625rem;
  min-height: 3rem;
  transition: background-color 0.3s ease-in-out, color 0.2s, border-width 0.1s;
}
.button:focus {
  outline: none;
}

/** BACKGROUNDS */
.primary {
  background-color: var(--color-primary);
}
.primary:hover,
.primary:active {
  background-color: var(--color-primary-hover);
}

.highlighted {
  background-color: var(--color-highlighted);
}
.highlighted:hover,
.highlighted:active {
  background-color: var(--color-highlighted-hover);
}

.error {
  background-color: var(--color-error);
}
.error:hover,
.error:active {
  background-color: var(--color-error-hover);
}

.blue {
  background-color: var(--color-blue);
}
.blue:hover,
.blue:active {
  background-color: var(--color-blue-hover);
}

.disabled {
  background-color: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}
.disabled:hover {
  background-color: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
}

/** GHOST BACKGROUNDS */
.ghostPrimary {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid currentColor;
}
.ghostPrimary:hover,
.ghostPrimary:active {
  color: var(--color-primary-hover);
  border: 2px solid currentColor;
}

.ghostHighlighted {
  background-color: transparent;
  color: var(--color-highlighted);
  border: 1px solid currentColor;
}
.ghostHighlighted:hover,
.ghostHighlighted:active {
  color: var(--color-highlighted-hover);
  border: 2px solid currentColor;
}

.ghostError {
  background-color: transparent;
  color: var(--color-error);
  border: 1px solid currentColor;
}
.ghostError:hover,
.ghostError:active {
  color: var(--color-error-hover);
  border: 2px solid currentColor;
}

.ghostBlue {
  background-color: transparent;
  color: var(--color-blue);
  border: 1px solid currentColor;
}
.ghostBlue:hover,
.ghostBlue:active {
  color: var(--color-blue-hover);
  border: 2px solid currentColor;
}

.ghostDisabled {
  background-color: transparent;
  color: var(--color-text-disabled);
  border: 1px solid currentColor;
  cursor: not-allowed;
}
.ghostDisabled:hover {
  background-color: transparent;
  border: 1px solid currentColor;
  color: var(--color-text-disabled);
}

/** SIZES */
.small {
  min-height: 2rem;
}

.medium {
  min-height: 3rem;
}

/** FLOATING BTN */
.floating {
  box-shadow: 0 1rem 3rem rgba(27, 31, 39, 0.3);
}

/** RIPPLE ANIMATION */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:before {
  --ripple-background: white;
  --ripple-opacity: 0.3;
  --ripple-duration: 600ms;

  content: '';
  position: absolute;
  display: block;
  background: var(--ripple-background, white);
  border-radius: 50%;
  pointer-events: none;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  transition: calc(var(--t, 0) * var(--ripple-duration, 600ms))
    var(--ripple-easing, linear);
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
}

/** PULSE ANIMATION */
.pulse {
    transition: box-shadow .1s ease-out;
    box-shadow: 0 0 0 rgba(160, 160, 160, 0);
}
.pulse:active {
    box-shadow: 0 0 2px 4px rgba(160, 160, 160, 0.4);
}