.notificationProvider {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
}

.notification {
  z-index: 999;
  box-shadow: 0px 1rem 3rem rgba(73, 92, 136, 0.15);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
}

.notificationWrapped {
  transition: 1.2s;
}

.notification.success {
  background-color: var(--color-notification-success);
}

.notification.error {
  background-color: var(--color-notification-error);
}
