.element {
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.element .title {
  font-family: var(--font-bold);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default .title{
  padding: 0 1rem;
}

.small .title{
  padding: 0;
}

.default .contentBody {
  padding: 1rem 1.5rem;
}

.small .contentBody {
  padding: 0;
}

.element .title .content {
  flex: 1
}

.show {
  transition: max-height 0.4s ease-in;
}

.hide {
  transition: max-height 0.4s cubic-bezier(0, 1, 0, 1)
}

.element .body {
  overflow: hidden;
  box-sizing: border-box;
}

.show.body {
  overflow: visible;
  animation: 1s delay-overflow; /* добавляем overflow: visible после того как аккордеон раскрылся */
}

.mrNone {
  margin-bottom: 0;
}

@keyframes delay-overflow {
  from { overflow: hidden; }
}
