.element {
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.element .title {
  font-family: var(--font-bold);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
}

.default .title{
  padding: 0 1rem;
}

.small .title{
  padding: 0;
}

.default .contentBody {
  padding: 1rem 1.5rem;
}

.small .contentBody {
  padding: 0;
}

.element .title .content {
  flex: 1
}

.element .body {
  overflow: hidden;
  transition: height .4s;
  box-sizing: border-box;
}
