.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.disabled {
  color: var(--color-text-disabled);
}

.inverse {
  color: var(--color-text-inverse);
}

.text {
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.link,
.label {
  font-weight: 600;
}

.small {
  font-size: 0.875rem;
}

.highlighted {
  font-family: var(--font-bold);
  font-weight: bold;
}

.hint {
  font-style: italic;
}
