.wrapper {
  position: relative;
  display: inline-block;
  margin: 0.75rem;
}

.wrapper:focus-within > .label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  top: calc(50% - 2.4rem / 2 - 2.4rem);
  background: var(--color-bg-input);
  color: var(--color-primary);
  padding: 0 0.5rem;
  left: 1rem;
  border-radius: 1.5rem;
}

.label {
  font-family: var(--font-regular);
  color: var(--color-text-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0.75rem;
  left: 1.5rem;
  transition: 0.25s;
}

.label.changed {
  font-size: 0.875rem;
  line-height: 1.5rem;
  top: calc(50% - 2.4rem / 2 - 2.4rem);
  background: var(--color-bg-input);
  padding: 0 0.5rem;
  left: 1rem;
  border-radius: 1.5rem;
}

.textarea {
  outline: none;
  background: var(--color-bg-input);
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;
  font-family: var(--font-regular);
  font-size: 1rem;
  min-width: 14rem;
  min-height: 4.5rem;
  color: var(--color-text-primary);
  padding-top: 0.6875rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.5rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
  resize: none;
}

.textarea:focus,
.textarea:hover {
  border: 2px solid var(--color-primary);
}

.disabled {
  background: var(--color-bg-input-disabled);
  color: var(--color-text-disabled);
}

.disabled:hover {
  border: 1px solid var(--color-border);
}

.label.changed.disabled {
  color: var(--color-border);
  background: var(--color-bg-input-disabled);
}

.label.disabled:hover {
  border: none;
}

.textarea.error {
  border: 1px solid var(--color-error);
}

.textarea.error:hover,
.textarea.error:focus {
  border: 2px solid var(--color-error);
}

.label.changed.error {
  color: var(--color-error);
}

.wrapper:focus-within > .label.error {
  color: var(--color-error);
}

.textarea.warning {
  border: 1px solid var(--color-highlighted);
}

.textarea.warning:hover,
.textarea.warning:focus {
  border: 2px solid var(--color-highlighted);
}

.label.changed.warning {
  color: var(--color-highlighted);
}

.wrapper:focus-within > .label.warning {
  color: var(--color-highlighted);
}

.limit {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  font-family: var(--font-italic);
  color: var(--color-border);
  font-size: 14px;
}
