.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}

.disabled {
  color: var(--color-text-disabled);
}

.inverse {
  color: var(--color-text-inverse);
}

.green {
  color: var(--color-primary);
}

.orange {
  color: var(--color-highlighted);
}

.red {
  color: var(--color-error);
}

.terminal {
  color: var(--color-text-terminal-regular);
}

.inverseSecondary {
  color: var(--color-text-inverse-secondary);
}

.inversePrimary {
  color: var(--color-text-inverse-secondary);
}

.lead {
  font-family: var(--font-regular);
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  display: block;
  margin: 0;
}

.highlighted {
  font-family: var(--font-bold);
  font-weight: bold;
}

.compact {
  line-height: 1.5rem;
}
