/** variables */
:root {
  /** fonts */
  --font-regular: 'Squad Regular';
  --font-italic: 'Squad RegularItalic';
  --font-bold: 'Squad Bold';
  --font-bold-italic: 'Squad Bold Italic';
  --font-light: 'Squad Light';
  --font-light-italic: 'Squad LightItalic';
  --font-semi-bold: 'Squad SemiBold';
  --font-semi-bold-italic: 'Squad SemiBoldItalic';
  --font-black: 'Squad Black';
  --font-black-italic: 'Squad BlackItalic';

  /** colors */
  --color-primary: #52ae30;
  --color-primary-hover: #74bf1e;
  --color-highlighted: #ff6600;
  --color-highlighted-hover: #ff802b;
  --color-blue: #1b82e3;
  --color-blue-hover: #3e9ef7;
  --color-error: #ff435a;
  --color-error-hover: #ff5c6f;
  --color-alert: #ffcc00;

  --color-text-primary: #1b1f27;
  --color-text-secondary: #6e7482;
  --color-text-disabled: #ababab;
  --color-text-inverse: #ffffff;

  --color-border: #8e939f;
  --color-shadow: rgba(73, 92, 136, 0.15);

  --color-bg-grey-1: #d3d9e6;
  --color-bg-grey-2: #e2e6f0;
  --color-bg-grey-3: #eff2f9;
  --color-bg-grey-4: #f7f9ff;
  --color-bg-input-disabled: #f1f1f1;
  --color-bg-pastel-yellow: #fff8db;
  --color-bg-pastel-orange: #ffefd6;
  --color-bg-pastel-red: #ffe0e3;
  --color-bg-pastel-blue: #dbf4fa;
  --color-bg-pastel-green: #def7ea;

  --color-hero-bg-pastel-yellow: #e9c597;
  --color-hero-bg-pastel-orange: #f6ae8b;
  --color-hero-bg-pastel-red: #dbb4c1;
  --color-hero-bg-pastel-purple: #d1bcdc;
  --color-hero-bg-pastel-blue: #a3cbe6;
  --color-hero-bg-pastel-green: #a8ccab;

  --color-chart-blue: #1b82e3;
  --color-chart-yellow: #ffcc00;
  --color-chart-purple: #650c90;
  --color-chart-green: #52ae30;
}
