/* vars */
:root {
  --font-regular: 'Squad Regular';
  --font-italic: 'Squad RegularItalic';
  --font-bold: 'Squad Bold';
  --font-bold-italic: 'Squad Bold Italic';
  --font-light: 'Squad Light';
  --font-light-italic: 'Squad LightItalic';
  --font-semi-bold: 'Squad SemiBold';
  --font-semi-bold-italic: 'Squad SemiBoldItalic';
  --font-black: 'Squad Black';
  --font-black-italic: 'Squad BlackItalic';
}

/*  basics */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/*  Button page */
.btn-block:not(:first-child) {
  margin-top: 16px;
}

.btn-block button:not(:last-child) {
  margin-right: 5px;
}

/*  Icon page */
.icon-type-header {
  text-align: center;
  font-family: var(--font-semi-bold);
  font-size: 2rem;
}

.icon-wrapper {
  flex-basis: 10%;
  margin: 6px;
}

.icon-label {
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
  font-family: var(--font-regular);
}

/*  Radio page */
.radio {
  font-family: var(--font-regular);
}

.radio-wrapper:not(:first-child) {
  padding-top: 10px;
}

/* RadioGroup */
.radio-group-wrapper {
  font-family: var(--font-regular);
}

.radio-group-header {
  font-family: var(--font-black);
}

/* InputPassword */
.input-password-wrapper:not(:first-child) {
  margin-top: 10px;
}

.input-password-wrapper input {
  font-family: var(--font-regular);
}
