.section {
  background-color: #333740;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.navbar {
  width: 5rem;
  box-sizing: border-box;
  padding: 23px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.navbar .hamburger {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.navbar .menu {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px * 2 - 24px);
}

.navbar .menu .menuItem {
  height: 48px;
  width: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .menu .menuItem.activeItem {
  background: #1f2226;
  border-radius: 32px;
}

.navbar .config {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: calc(100% - 5rem);
  background: #eff2f9;
  border-radius: 2.5rem 0 0 2.5rem;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  padding-bottom: 24px;
}

main {
  flex-grow: 1;
}
